.legend-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  width: 90vw;
  justify-content: end;
  margin: 30px;
  text-align: center;
}

.legend-item {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0.5rem;
}

.legend-note {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.3rem 0.3rem;
}

.node-start {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(13, 146, 13);
  display: inline-block;
}

.node-target {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(186, 20, 14);
  display: inline-block;
}

.node-wall {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(12, 53, 71);
  display: inline-block;
}

.node-weight {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(223, 180, 151);
  display: inline-block;
}

.node-weight-visited {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(226, 129, 65);
  display: inline-block;
}

.node-unvisited {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  display: inline-block;
}

.node-visit {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(183, 109, 232);
  display: inline-block;
}

.node-path {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(37, 215, 255);
  display: inline-block;
}

.node-path-weighted {
  width: 25px;
  height: 25px;
  outline: 0.5px solid rgb(44, 154, 238);
  background-color: rgb(52, 127, 238);
  display: inline-block;
}